/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properties */
:root {
    --font-white: #FFFFFF;
    --font-blue: #7289DA;
    --button-light-blue: #8EA1E1;
    --bgd-header-bar: #255EE9;
    --font-color-footer: #7288DA;
    --bgd-main-grey: #F6F6F6;
    --size-font-big: 50px;
    --size-font-small: 22px;
}

/* generics */
body {
    font-family: "Whitney", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* utilities */
.d-flex {
    display: flex;
}

.bord {
    border: 1px dashed black;
}

a {
    text-decoration: none;
    color: var(--font-white);
}

ul {
    list-style-type: none;
}

li {
    padding: 20px;
}

button {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px transparent;
    cursor: pointer;
    background-color: #ffff;
}

button > a {
    color: black;
}

/* header bar */
header {
    height: 80px;
    background-color: var(--bgd-header-bar);
    align-items: center;
    justify-content: center;
}

.container-header  {
     height: 30px;
     flex-basis: 100%;
     max-width: 65%;
}

.nav-header {
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

.logo-header, .actions-header {
    flex-grow: 1;
    align-items: center;
    padding: 0 10px;
}

.actions-header {
    text-align: right;
}

/* main-header jumbotron*/

.container-jumbotron {
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    justify-content: center;
    background-position: center;
    align-items: center;
}

.content-jumbotron {
    flex-basis: 875px;
    height: 400px;
    text-align: center;
    padding: 5px;
}

.content-jumbotron > h1 {
    font-size: 60px;
    color: var(--font-white);
    padding-bottom: 40px;
}

.content-jumbotron > p {
    font-size: var(--size-font-small);
    color: var(--font-white);
}

.butt-download, .butt-open-brow {
    padding: 15px 20px;
    border-radius: 20px;
    border: 1px transparent;
    cursor: pointer;
    background-color: #ffff;
    margin-top: 30px;
    font-size: 20px;
}

.butt-open-brow {
    background-color: black;
}

.butt-open-brow > a {
    color: var(--font-white);
}

/* main column */
.container-column-main, .container-column-middle {
    height: 600px;
    justify-content: center;
    align-items: center;
}

.left-column-main, .right-column-mid { 
    flex-basis: 40%;
}

.right-column-main, .left-column-mid {
    flex-basis: 25%;
}

.left-column-main, .right-column-main, .left-column-mid, .right-column-mid{
    height: 500px;
}

 section  h2 {
    font-size: var(--size-font-big);
}

section  p {
    font-size: var(--size-font-small);
}

section p, section h2 {
    padding: 20px 30px;
}

/* main column middle */

.container-column-middle {
    background-color: var(--bgd-main-grey);
}

/* main square block */
.container-square {
    height: 1300px;
    background-color: var(--bgd-main-grey);
    justify-content: center;
    text-align: center;
    padding: 150px 0;
}

.square-block  .img-cent {
    width: 1100px;
}

.square-block h3 {
    font-size: 30px;
}

.square-block {
    flex-basis: 64%;
    height: 1100px;
}

.square-block  .butt-download, .butt-register {
    background: var(--button-light-blue);
}

.square-block a {
    color: var(--font-white);
}

/* wave */
.wave {
  display: block;
  color: var(--bgd-main-grey);
}

.upside-down {
    rotate: 0.5turn;
    color: var(--bgd-main-grey);
}

/* main footer */
.main-footer {
    background-color: #24272A;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.left-column-footer {
    height: 500px;
    flex-basis: 15%;
}

.ita-flag {
    display: inline-block;
    width: 40px;
    vertical-align: middle;
}

footer p {
    display: inline-block;
    vertical-align: middle;
}

footer i {
    color: var(--font-white);
    width: 20px;
    padding-top: 20px;
}

.left-column-footer h3 {
    font-size: 30px;
    color: var(--font-color-footer);
    padding-bottom: 20px;
}

.right-column-footer {
    height: 500px;
    flex-basis: 45%;
}

.small-column {
    flex-basis: calc(100% / 4 );
}

.small-column p {
     color: var(--font-color-footer);
}

.small-column li {
    padding: 10px 0;
}

.small-column li, footer p  {
    color: var(--font-white);
}

/* bar footer */
.under-footer {
    background-color: #24272A;
    height:50px;
    justify-content: center;
    align-items: center;
    align-items: end;
}

.bar-footer {
    /* background-color: #7FFDD4; */
    flex-basis: 65%;
    height: 85px;
    border-top: 1px solid var(--font-blue);
}

.bar-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-footer-right, .btn-footer-left {
    flex-basis: 50px;
    height: 20px;
}

.btn-footer-left a {
    color: var(--font-white);
}